body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #FFFFCC;
}

header {
    background-color: #FEAB07;
    height: 110px;
    width: 100%;
}


.auth {
    background-color: aliceblue;
    height: 110px;
    right: 6px;
    top: 8px;
    position: absolute;
}

